---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '@fontsource/space-mono';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon2.svg" />
		<title>{title}</title>
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	body {
		background: #000;
		margin: 0;
		display: grid;
		place-content: center;
		height: 100vh;
		font-family: 'Space Mono', sans-serif;
	}

	canvas {
		border: 1px solid white;
	}

	span {
		color: white;
	}
</style>
